<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: linen;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 28px;
  align-items: center;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
<body>

<h1>Hello There!</h1>

<h1>What is your name?</h1>

<form>
  <label for="name">
    Name
    <input type="text" name="name">
  </label>
</form>


<h1>And what is your birthday?</h1>

<form>
  <label for="birthday">
    Birthday
    <input type="text" birthday="birthday">
  </label>
</form>

  <form action="/redirect" method="post">
  <input type="submit" value="Submit">
  </form>


</body>
</html>
