<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <style>
    body {
      background: #FEAC5E;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


      font-family: 'Staatliches', cursive;
      font-size: 28px;
      color: white;
      Transform: translate(-1%, 20%);

    }
    h1 {

      margin-left: 40px;
    }

  </style>
</head>

<body>
  <center>
  <div class="title">  <h1>Hello There!</h1>   </div>

    <h1>What is your name?</h1>

    <form action="/decider" method="post">
      <label for="name">
        Name:
        <input type="text" name="name">
      </label>
      <h1>And what is your birthday?</h1>
      <label for="birthday">
        Birthday (dd/mm):
        <input type="text" name="birthday">
      </label>
      <input type="submit" value="Go!">
    </form>
    </center>
</body>

</html>
